/* Farb- und Größenvariablen */
:root {
    --primary-color: #929494;
    --secondary-color: rgba(10, 1, 1, 0.678);
    --hover-color: #f1f1f1;
    --background-color: #f0f0f0;
    --text-color: #333;
    --font-family: Arial, sans-serif;
    --font-size-base: 16px;
    --border-color: #ddd;
    --table-header-color: #39afab;
    --table-header-hover-color: #8fcfcf;
    --footer-bg-color: #333;
    --footer-text-color: #fff;
}

/* Body-Stile */
body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    font-size: var(--font-size-base);
}

/* Navigation */
nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1%;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px 12px;
    font-size: calc(var(--font-size-base) - 2px);
    display: inline-block;
}

nav a:hover {
    background-color: var(--hover-color);
    border-radius: 4px;
}

/* Suchfeld-Stile */
#searchInput {
    padding: 12px;
    width: 75%;
    box-sizing: border-box;
    margin-right: auto;
}

/* Hintergrundbild Container */
.background-container {
    background-image: url('/public/Banner.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px;
    flex: 1;
}

/* Hauptinhalt */
.main-content {
    padding: 22px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

/* Tabellen-Stile */
caption {
    font-size: 1.8em;
    font-weight: bold;
    margin: 18px;
    text-align: center;
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

table, th, td {
    border: 2px solid var(--border-color);
    word-wrap: break-word;
}

th, td {
    padding: 12px;
    font-size: 14px;
}

th {
    background-color: var(--table-header-color);
    color: var(--secondary-color);
    cursor: pointer;
    position: relative;
}

th:hover {
    background-color: var(--table-header-hover-color);
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: var(--hover-color);
}

/* Sortierpfeile */
th::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

th.asc::after {
    border-bottom: 5px solid #fff;
}

th.desc::after {
    border-top: 5px solid #fff;
}

/* Footer-Stile */
footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

/* Media Queries */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    .nav-left {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    #searchInput {
        width: 100%;
        margin-left: 0;
    }

    nav a {
        padding: 10px;
        font-size: calc(var(--font-size-base) - 4px);
    }

    .main-content {
        margin-top: 70px;
        padding: 16px;
    }

    table {
        width: 100%;
        table-layout: auto; /* Dynamische Breite */
        overflow-x: auto;
    }

    th, td {
        padding: 10px;
        font-size: 14px; /* Etwas größere Schriftgröße */
        word-wrap: break-word;
    }
}

@media (max-width: 530px) {
    .main-content {
        padding: calc(10px + 1vw); /* Dynamisches Padding basierend auf Bildschirmgröße */
    }

    table {
        width: 100%;
        table-layout: auto; /* Dynamische Breite */
        overflow-x: auto;
    }

    th, td {
        padding: 8px;
        font-size: 12px;
        word-wrap: break-word;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 10px 5px;
    }

    .nav-left {
        align-items: flex-start;
        width: 100%;
    }

    #searchInput {
        width: 100%;
    }

    nav a {
        padding: 8px;
        font-size: calc(var(--font-size-base) - 6px);
    }

    .main-content {
        padding: calc(8px + 1vw); /* Dynamisches Padding */
        margin-top: 60px;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        table-layout: auto; /* Dynamische Breite */
    }

    th, td {
        padding: 8px;
        font-size: 12px;
        word-wrap: break-word;
    }
}
